.signInContainer {
  width: 80%;
}
.loginParent {
padding: 50px;}
.imgContainer {
  border-radius: 20px;
  width: 48%;
  height: 420px !important;
}
.loginForm {
  border-radius: 20px;
  /* box-shadow: 0 0 15px 5px lightgray; */
  border: none;
  width: 48%;
  height: 100%;
  padding: 20px;
}
@media (max-width: 767px) {
  .imgContainer,
  .loginForm {
    width: 100% !important;
    height: 200px !important;
  }
  .loginParent{
    padding: 0px;
  }
  .signUpParent{
    padding: 0;
  }
}
.submit {
  border: none;
  outline: none;
  background-color: var(--mint-green);
  padding: 10px;
  border-radius: 10px;
  color: black;
  font-size: 16px;
  transform: 0.3s ease;
}

.submit:hover {
  background-color: rgb(141, 211, 187, 0.8);
}

.submit-disabled {
  border: none;
  outline: none;
  background-color: rgb(141, 211, 187, 0.5);
  padding: 10px;
  border-radius: 10px;
  color: black;
  font-size: 16px;
  transform: 0.3s ease;
}

input[type="checkbox"]:checked {
  background-color: var(--mint-green) !important;
  /* color: black !important; */
  border-color: var(--mint-green) !important;
}

input[type="checkbox"]:checked:after {
  content: "\2713";
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  background-image: none !important;
}

.url-colored {
  color: var(--mint-green) !important;

  text-decoration: underline solid var(--mint-green) !important;
}

