.navbarParent {
    font-size: 14px;
    position:fixed !important;
    width:70% !important;
    top:10px !important;
    background-color:white !important;
    z-index:999; 
    left:50%;
    transform:translateX(-50%);
    border-radius:20px;

}

.FavouriteBorder {
    position: relative;
    padding-right: 5px !important;
}

.FavouriteBorder::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 30%;
    top: 50%;
    transform: translateY(-50%);
    right: -1px;
    background-color: black;
}

.nav-link {
    position: relative;
    text-align: center;
    width: 110px;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    border-radius: 10px;
}
.logoBrand{
    cursor: pointer;
}
.nav-link:hover{
    background-color: #8DD3BB !important;

}

@media(max-width:767px) {
    .FavouriteBorder::after {
        position: absolute;
        content: '';
        width: 0px;
        height: 30%;
        top: 30px;
        left: 50%;
        transform: translateY(-50%);
        transform: translateX(-50%);
        background-color: black;
    }


    .nav-link:hover::before {
        width: 30% !important;
    }
.nav-link{
width: 95px;
justify-content: space-between;
}
}



.NavbarButton {
    color: #8DD3BB;

}

.navbar-toggler {
    border: none !important;

}