.navbarParent {
    font-size: 14px;
}

.FavouriteBorder {
    position: relative;
    padding-right: 5px !important;
}

.FavouriteBorder::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 30%;
    top: 50%;
    transform: translateY(-50%);
    right: -1px;
    background-color: black;
}

.nav-link {
    position: relative;
    text-align: center;
    width: 111px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.nav-link::before {
    position: absolute;
    content: '';
    width: 0%;
    transition: 0.5s;
    height: 2px;
    background-color: #8DD3BB;
    bottom: 0;
    left: 12px;
}

@media(max-width:767px) {
    .FavouriteBorder::after {
        position: absolute;
        content: '';
        width: 1px;
        height: 30%;
        top: 30px;
        left: 50%;
        transform: translateY(-50%);
        transform: translateX(-50%);
        background-color: black;
    }


    .nav-link:hover::before {
        width: 30% !important;
    }
.nav-link{
width: 95px;
justify-content: space-between;
}
}

.nav-link:hover::before {
    width: 50%;
}

.NavbarButton {
    color: #8DD3BB;

}

.navbar-toggler {
    border: none !important;

}