body,
* {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
text-decoration:none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --mint-green: #8dd3bb;
}
